body {
    margin: 0;
    padding: 0;
   
  }


.cardLogin {
    width: 40%;
    height: 400px;
    border: 2px solid #06394C;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(6, 0, 32, 53);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardLogin h2{
    
    color: rgba(6, 57, 76, 0.91);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    justify-content: flex-end;
   
}

.cardLogin p{
    font-size: 16px;
}
.cardLogin .input_{
    margin-bottom: 25px;
    width: 85%;
    height: 55px;
    padding-left: 10px;
    background: rgba(99, 128, 140, 0.65);
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.cardLogin .inpuT{
   
    width: 65%;
    height: 45px;
    padding-left: 10px;
    background: rgba(99, 128, 140, 0.65);
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.modo{
    display: flex;
    gap: 10px;
    width: 86%;
    margin-bottom: 4px;
}

.cardLogin input::placeholder {
    color: white; 

}

.cardLogin button{
    margin-bottom: 5px;
    margin-top: 10px;
    width: 87%;
    height: 60px;
    background: #06394C;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
 
}
.cardLogin Link{
    text-decoration: none;
 
}

.logo img{
    width: 30%;
    padding-left: 8%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
    padding-top: 20px;
}




.select-estilizado {

   
    height: 49px;
    border-radius: 12px;
    background-color:rgba(99, 128, 140, 0.65); 
    color: #333; 
    
    font-size: 14px; 
    width: 250px; 
}
  /* Altera a aparência do dropdown (seta) */
  .select-estilizado::after {
    content: '\25BC';
    position: absolute;
    pointer-events: none; 
  }
  
  /* Estiliza as opções do dropdown */
  .select-estilizado option {
    background-color: #fff;
    color: #333;
    font-size: 14px; 
  }
  